
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
}

@media only screen and (max-width : 320px) {
    .principal {
        max-width: 320px;
    }
}