nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list {
    display: none;
}


.section-up {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}



.section-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.section-links li {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.section-links li:hover {
    font-weight: 700;
}



.section-logo {
    width: 70px;
}


.section-icons {
    display: flex;
    gap: 40px;
}

.heart-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 100px;
}

.heart-container:hover {
    font-weight: 700;
}

.heart-container img {
    width: 40px;
    height: 40px;
}

.icons {
    position: relative;
    display: flex;
    gap: 10px;
}

.icons img {
    width: 30px;
}

.icons input {
    width: 125px;
    outline: none;
}

.icons div {
    position: absolute;
    background: black;
    height: 1px;
    width: 100%;
    bottom: 0;
}


.section-down {
    padding: 0 200px;
}

.section-down ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.section-down li {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

.section-down p {
    text-align: center;
}



@media only screen and (max-width : 320px) {


    .section-up {
        padding-right: 100px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .section-links {
        display: none;
    }

    .heart-container {
       width: 50px;
    }

    .heart-container :last-child {
        display: none;
    }

    .section-icons {
        gap: 0px;
        max-width: 200px;
    }

    .icons :last-child {
        background-color: transparent;
        
    }
    
    .search {
        display: none;
    }

    .list {
        display: flex;
    }

    
  }
  